#left-ear {
  transition: all .5s linear;
}

#right-ear {
  transition: all .5s linear;
}

#bear:hover #left-ear {
  transform: translateY(-10px);
}

#bear:hover #right-ear {
  transform: translateY(-10px);
}
